<div class="row align-items-center justify-content-center">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">

        <img src="{{eventM?.image}}" class="img-fluid rounded" alt="Imagine eveniment">
        <h1>{{eventM?.name}}</h1>
        <h6><i>Începe: {{eventM?.startDate}}</i></h6>
        <h6><i>Se termină: {{eventM?.endDate}}</i></h6>
        <button type="button" class="btn btn-warning m-1" id="btnReviews" routerLink="/review-browse/{{eventId}}/6/0"
            >Vezi recenzii</button>
        <button type="button" class="btn btn-dark m-1" id="btnChat" routerLink="/chat-room/{{eventId}}" hidden>Pagina de mesaje</button>
        <button type="button" class="btn btn-success m-1" id="btnCreator" routerLink="/event-stats/{{eventId}}" hidden>Ești organizator. Vezi statistici</button>
        <button type="button" class="btn btn-primary m-1" id="btnLogin" routerLink="/user-signin" hidden>Autentificare</button>
        <button type="button" class="btn btn-primary m-1" id="btnRegister" (click)="btnRegisterClick()" hidden>Înscrie-te</button>
        <button type="button" class="btn btn-danger m-1" id="btnYourReview" routerLink="/review-edit/{{eventId}}"
            style="display: none">Recenzia ta</button>
        <p style="white-space: pre-wrap">{{eventM?.description}}</p>
        <a class="btn btn-outline-primary mb-3" href="{{eventM?.url}}" target="_blank" role="button">Vezi site</a>
        <iframe class="border-0 embed-responsive" [src]="'https://www.google.ro/maps/embed/v1/place?key=' + this.googleApiKey + '&q=' + eventM?.location | safe"
            allowfullscreen></iframe>

    </div>
</div>