<div class="row align-items-center justify-content-center">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">

        <form #form="ngForm" class="p-3" (ngSubmit)="onSubmit()">
            <span>
                <span class="mx-1" id="star-1" style="cursor:pointer;font-size:50px" (click)="updateRating(1)">&#9733;</span>
                <span class="mx-1" id="star-2" style="cursor:pointer;font-size:50px" (click)="updateRating(2)">&#9733;</span>
                <span class="mx-1" id="star-3" style="cursor:pointer;font-size:50px" (click)="updateRating(3)">&#9733;</span>
                <span class="mx-1" id="star-4" style="cursor:pointer;font-size:50px" (click)="updateRating(4)">&#9733;</span>
                <span class="mx-1" id="star-5" style="cursor:pointer;font-size:50px" (click)="updateRating(5)">&#9733;</span>
            </span>

            <div class="form-group">
                <input type="hidden" class="form-control" id="reviewRatingFormControl" name="reviewRating" [(ngModel)]="ratingCheck"
                    #reviewRatingCheck="ngModel" required>
                <div [hidden]="reviewRatingCheck.valid" class="alert alert-danger my-2" role="alert">Evaluați evenimentul
                    cu un număr de stele</div>
            </div>

            <div class="form-group">
                <label for="reviewOpinionFormControl">Impresia ta:</label>
                <textarea class="form-control" id="reviewOpinionFormControl" name="reviewOpinion" [(ngModel)]="review.opinion"
                    placeholder="ex: bine organizat, oră convenabilă, prea aglomerat etc." #eventDescriptionCheck="ngModel" maxlength=10000 rows=10></textarea>
            </div>

            <button type="submit" class="btn btn-primary mr-1" [disabled]="!form.valid">Publică</button>
            <button type="button" class="btn btn-danger" (click)="deleteReview()">Șterge</button>
        </form>

    </div>
</div>