<div class="row align-items-center justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">

        <div style='height: 25px; opacity: 25%;'>
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/.NET_Core_Logo.svg"/>
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"/>
        </div>
        <p class="text-left"><em>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Proiectul reprezintă o aplicație web prin care utilizatorii se pot înscrie la evenimente de orice fel. Acesta pune la dispoziție următoarele funcționalități:
            <ul>
                <li>    O pagină de mesaje pentru fiecare eveniment în care toți utilizatori conectați pot comunica prin mesaje instant.</li>
                <li>    Posibilitatea de a adăuga recenzii evenimentelor, dar și de a le vedea pe cele ale altor utilizatori.</li>
                <li>    Pe baza recenziilor acordate evenimentelor și al unui sistem de recomandare, ce implementează un algoritm de factorizare a matricelor folosind metoda gradientului descendent, utilizatorii vor primi sugestii de noi evenimente de care ar putea fi interesați.</li>
                <li>    În cazul în care utilizatorul nu își amintește exact numele unui eveniment, el îl poate căuta în aplicație cu ajutorul unor cuvinte cheie.</li>
                <li>    Fiecare pagină de prezentare a unui eveniment are o imagine de prezentare și o hartă cu locație desfășurării acestuia.</li>
                <li>    Pentru organizatorul unui eveniment este disponibilă o pagină de statistici pe care acesta poate vedea ce impact are evenimentul crea și pentru a lua decizii mai bune în viitor.</li>
                <li>    Toți utilizatorii au acces la o pagină de administrare a contului lor, de unde pot vedea unde s-au înscris, ce recenzii au dat și ce evenimente au publicat pe site, iar dacă doresc pot schimba parola contului.</li>
                <li>    Pentru cei care au uitat parola contului există opțiunea de a o recupera prin email.</li>
                <li>    Unul din avantajele aplicației este faptul că se adaptează în funcție de dimensiunea dispozitivului folosit, neavând foarte mari restricții software: funcționează pe orice web browser modern, indiferent de sistemul de operare, fie el Windows, macOs, iOS, Android sau orice distribuție Linux.</li>
            </ul>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Obiectivul aplicației este de a oferi o metodă ușor accesibilă tuturor persoanelor interesante de a participa la orice eveniment (sportiv, muzical, cultural, etc.), dar și celor ce organizează evenimente și vor să le facă cunoscute. În plus, având în vedere faptul că aplicația stochează date ale utilizatorilor, se încearcă extragerea unor informații utile din acestea.
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Proiectul este format din două părți: backend, creat cu platforma .NET Core, MongoDB și Python, și frontend,, creat folosind Angular și Bootstrap. Testarea s-a făcut folosind librăria Swashbuckle pentru .NET, care ajută la testarea metodelor HTTP pe care le pune la dispoziție backend-ul. Pentru frontend s-a folosit modul dezvoltator din Google Chrome. S-au generat date de test pentru baza de date și folosindu-se acestea s-a încercat antrenarea sistemului de recomandare și reducerea cât mai mult a erorii acestuia.
        </em></p>

    </div>
</div>