<div class="row align-items-center justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">

        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Pagina nu a fost găsită</h4>
            <hr>
            <p class="mb-0">Adresa url introdusă este greșită.<br>Folosește meniul de la începutul paginii pentru
                navigare.</p>
        </div>

        <img src="https://images.unsplash.com/photo-1532057574832-ea8835b155c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
            class="img-fluid rounded">
    </div>
</div>