<div class="btn-group m-0" role="group">
    <a routerLink="/review-browse/{{eventId}}/{{pageSize}}/{{+pageId-1}}" class="btn btn-primary" [ngClass]="{'disabled':prevBtnDisabled}">&lt;&lt;&lt;</a>
    <button type="button" class="btn btn-secondary disabled">Recenzii</button>
    <a routerLink="/review-browse/{{eventId}}/{{pageSize}}/{{+pageId+1}}" class="btn btn-primary" [ngClass]="{'disabled':nextBtnDisabled}">&gt;&gt;&gt;</a>
</div>

<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngFor="let review of reviews; let i = index">

        <div class="card text-center my-3">
            <div class="card-header">
                <h1>
                    <span class="mx-1" [ngClass]="{'text-warning':review.rating > 0}">&#9733;</span>
                    <span class="mx-1" [ngClass]="{'text-warning':review.rating > 1}">&#9733;</span>
                    <span class="mx-1" [ngClass]="{'text-warning':review.rating > 2}">&#9733;</span>
                    <span class="mx-1" [ngClass]="{'text-warning':review.rating > 3}">&#9733;</span>
                    <span class="mx-1" [ngClass]="{'text-warning':review.rating > 4}">&#9733;</span></h1>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{review.opinion.substr(0,50)}}...</h5>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#modalLong-' + i">
                    Deschide
                </button>
                <!-- Modal -->
                <div class="modal fade" id='modalLong-{{i}}' tabindex="-1" role="dialog" aria-labelledby="modalLongTitle"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLongTitle"></h5>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">&larr;&nbsp;Înapoi</button>
                            </div>
                            <div class="modal-body">
                                {{review.opinion}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">&larr;&nbsp;Înapoi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                {{review.lastEdit}}, {{review.userName}}
            </div>
        </div>

    </div>
    
    <div class="col-12">

        <div class="card-body my-3" *ngIf="nextBtnDisabled">
            <h5 class="card-title invisible">______________________________</h5>
            <h6 class="card-subtitle mb-2 text-muted invisible">______________________________</h6>
            <p class="card-text">Nu mai sunt elemente de afișat</p>
            <button type="button" class="btn btn-primary invisible">_____</button>
        </div>
        
    </div>
</div>

<div class="btn-group m-0" role="group">
    <a routerLink="/review-browse/{{eventId}}/{{pageSize}}/{{+pageId-1}}" class="btn btn-primary" [ngClass]="{'disabled':prevBtnDisabled}">&lt;&lt;&lt;</a>
    <button type="button" class="btn btn-secondary disabled">Recenzii</button>
    <a routerLink="/review-browse/{{eventId}}/{{pageSize}}/{{+pageId+1}}" class="btn btn-primary" [ngClass]="{'disabled':nextBtnDisabled}">&gt;&gt;&gt;</a>
</div>