<div class="row align-items-center justify-content-center">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="alert alert-success" role="alert">
            Bun venit, <b>{{myAcc?.surname}} {{myAcc?.name}}</b>
        </div>

        <br>

        <button type="button" class="btn btn-secondary disabled">Evenimentele tale</button>
        <div class="btn-group btn-group-toggle my-1 mx-3" data-toggle="buttons">
            <label class="btn btn-primary" [ngClass]="{'active':listType=='registered-events'}" routerLink="/user-dashboard/registered-events/5/0">
                <input type="radio" name="options" id="option1" autocomplete="off"> Înscris
            </label>
            <label class="btn btn-primary" [ngClass]="{'active':listType=='reviewed-events'}" routerLink="/user-dashboard/reviewed-events/5/0">
                <input type="radio" name="options" id="option2" autocomplete="off" checked='true'> Recenzii
            </label>

            <label class="btn btn-primary" [ngClass]="{'active':listType=='created-events'}" routerLink="/user-dashboard/created-events/5/0">
                <input type="radio" name="options" id="option3" autocomplete="off"> Create
            </label>
        </div>

        <div class="btn-group m-0" role="group">
            <a routerLink="/user-dashboard/{{listType}}/{{pageSize}}/{{+pageId-1}}" class="btn btn-primary" [ngClass]="{'disabled':prevBtnDisabled}">&lt;&lt;&lt;</a>
            <button type="button" class="btn btn-secondary disabled">Navigare</button>
            <a routerLink="/user-dashboard/{{listType}}/{{pageSize}}/{{+pageId+1}}" class="btn btn-primary" [ngClass]="{'disabled':nextBtnDisabled}">&gt;&gt;&gt;</a>
        </div>

        <ul class="list-group my-3">
            <a *ngFor="let event of events" class="list-group-item list-group-item-action text-center" routerLink="/event-details/{{event.id}}">{{event.name}}</a>
            <a *ngIf="nextBtnDisabled" class="list-group-item list-group-item-action text-center">Nu mai sunt elemente
                de
                afișat</a>
        </ul>

        <button type="button" class="btn btn-danger mb-5" routerLink="/user-signin">Deconectare</button>

        <br>

        <span>{{myAcc?.email}}</span>
        <input type="password" class="form-control" id="new-pass-input" placeholder="parolă nouă..." >
        <button class="btn btn-warning" (click)="changePassBtnClick()">Schimbă parola</button>

    </div>
</div>